article
{
float: left;
display: inline-block;
text-align: center;
font-family: "Arial Black", Gadget, sans-serif;
height: auto;
width: auto;
max-width: 100%;
background-image: url(../img/background_article.jpg);
background-size: cover;
background-repeat: no-repeat;
color: white;
min-height: 1200px;
margin-bottom: 100px;
text-shadow: 2px 2px black;
}
aside
{
background-color: lightgrey;
float: right;
display: inline-block;
text-align: center;
font-family: "Arial Black", Gadget, sans-serif;
min-height: 1200px;
margin-bottom: 100px;	
}